{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Inscription</h1>
                        {{ form_start(registrationForm) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(registrationForm.prenom) }}
                                    {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(registrationForm.prenom) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(registrationForm.nom) }}
                                    {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(registrationForm.nom) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.username) }}
                            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                        <div class="form-group form-check m-2">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">S'inscrire</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
